body {
  background-color: #1b1a55;
}
/* .container {
  margin: 0;
  padding: 0;
} */

.artist-image {
  height: 25rem;
  width: 35rem;
}
.textBox {
  background-color: #535c91;
}

span {
  font-family: "Montserrat", sans-serif;
}

nav {
  background-color: #070f2b;
}

button {
  background-color: #9290c3;
}
