{{template "header"}}

<div class="flex-grow flex justify-center items-center h-full">
  <div class="inline-block rounded-lg overflow-hidden shadow-lg">
    <img
      class="artist-image object-cover object-center"
      src="{{.Artist.Image}}"
      alt="image"
    />
  </div>
  <div class="artist-image px-6 py-4 text-center text-white textBox">
    <h2 class="font-bold text-xl mb-2">{{.Artist.Name}}</h2>
    <p>Members: {{range .Artist.Members}}{{.}}, {{end}}</p>
    <p>Creation Date: {{.Artist.CreationDate}}</p>
    <p>First Album: {{.Artist.FirstAlbum}}</p>
    <ul>
      Locations: {{range .Locations.Locations}}
      <li>{{.}}</li>
      {{end}}
    </ul>
    <ul>
      Concert Dates: {{range .Dates.Dates}}
      <li>{{.}}</li>
      {{end}}
    </ul>
    <ul>
      Relations: {{range $key, $value := .Relation.DatesLocations}}
      <li>
        {{$key}}:
        <ul>
          {{range $value}}
          <li>{{.}}</li>
          {{end}}
        </ul>
      </li>
      {{end}}
    </ul>
  </div>
</div>
