{{template "header"}}

<div
  class="flex flex-col items-center justify-center min-h-screen text-white relative"
>
  <!-- Display the artist's name -->
  <h1 class="text-5xl font-bold my-4">{{.Artist.Name}}</h1>

  <!-- Display the artist's image -->
  <div class="w-64 h-64 mb-4">
    <img
      class="w-full h-full object-cover rounded-full"
      src="{{.Artist.Image}}"
      alt="{{.Artist.Name}}"
    />
  </div>

  <!-- Display the artist's details -->
  <div class="text-center mb-4 members">
    <p>
      <span class="font-bold text-lg">Members: </span>{{range
      .Artist.Members}}{{.}}, {{end}}
    </p>
    <p>
      <span class="font-bold text-lg">Creation Date: </span
      >{{.Artist.CreationDate}}
    </p>
    <p>
      <span class="font-bold text-lg">First Album: </span>{{.Artist.FirstAlbum}}
    </p>
  </div>

  <!-- Locations and Concert Dates buttons -->
  <div class="flex space-x-4 mb-4">
    <button
      id="locations-button"
      class="px-4 py-2 filter-button rounded-2xl text-white font-bold"
    >
      Locations
    </button>
    <button
      id="concert-dates-button"
      class="px-4 py-2 filter-button rounded-2xl text-white font-bold"
    >
      Concert Dates
    </button>
  </div>

  <div class="flex justify-center w-full">
    <!-- Locations div, hidden by default -->
    <div
      id="locations-div"
      class="hidden 2xl:absolute text-white textBox p-4 rounded-lg shadow-lg left-56 m-4"
    >
      <h3 class="font-bold mb-2">Locations:</h3>
      <ul>
        {{range .Locations.Locations}}
        <li>
          <i class="mr-4 fas fa-map-marker-alt" style="color: #ffffff"></i>
          {{.}}
        </li>
        {{end}}
      </ul>
    </div>

    <!-- Concert Dates div, hidden by default -->
    <div
      id="concert-dates-div"
      class="hidden 2xl:absolute text-white textBox p-4 rounded-lg shadow-lg right-56 m-4"
    >
      <h3 class="font-bold mb-2">Concert Dates:</h3>
      <ul>
        {{range .Dates.Dates}}
        <li><i class="fas fa-calendar" style="color: #ffffff"></i> {{.}}</li>
        {{end}}
      </ul>
    </div>
  </div>

  <!-- Display the artist's relations -->
  <div
    class="p-4 rounded-lg shadow-lg artist-relations textBox text-white m-4 overflow-auto"
  >
    <table class="w-full">
      <thead>
        <tr>
          <th class="border px-4 py-2">
            <i class="mr-4 fas fa-map-marker-alt" style="color: #ffffff"></i>
            Locations
          </th>
          <th class="border px-4 py-2">
            <i class="fas fa-calendar" style="color: #ffffff"></i> Dates
          </th>
        </tr>
      </thead>
      <tbody>
        {{range $key, $value := .Relation.DatesLocations}}
        <tr>
          <td class="border px-4 py-2">{{$key}}:</td>
          <td class="border px-4 py-2">
            <ul>
              {{range $value}}
              <li>{{.}}</li>
              {{end}}
            </ul>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
</div>

<!-- JavaScript to toggle visibility of Locations and Concert Dates divs -->
<script>
  document
    .getElementById("locations-button")
    .addEventListener("click", function () {
      var locationsDiv = document.getElementById("locations-div");
      locationsDiv.classList.toggle("hidden");
    });

  document
    .getElementById("concert-dates-button")
    .addEventListener("click", function () {
      var concertDatesDiv = document.getElementById("concert-dates-div");
      concertDatesDiv.classList.toggle("hidden");
    });
</script>
